<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">DoConnect</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  routerLink="/registration">Register</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="col-lg-6 offset-lg-3 bg-trans mt-5 animate__animated animate__fadeInLeftBig">
            <div class="p-2">
                <h1 class="text-warning text-center animate__animated animate__flipInX animate__delay-1s" style="padding: 0; margin: 0;">Hi'
                     <span class="text-white " style="font-size: 30px; font-weight: bold;">Welcome to</span>
                        <span class="text-center text-warning" style="font-size: 50px;"> DoConnect</span>
                    </h1>
            </div>
        </div>
    </div>
</div>