.bg-back{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://i.postimg.cc/8cnYLpfc/ddddd.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.bg-img{
    background: linear-gradient(rgba(0, 0, 0, 0.405),rgba(0, 0, 0, 0.384));
    /* background: transparent; */
}

.bg-transparent{
    background: transparent;
    color: white !important;
}

.m-p-0{
    margin: 0;
    padding: 0;
}

.f-bottom{
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.w100{
    width: 100%;
}
